body {
  background-color: #f4f4f4 !important;
  /* height: 2000px; */
}

div.container-custom {
  max-width: 1600px;
}

input {
  border: 1px solid #39c0de !important;
}

/* ------------Navbar----------- */
.navbar-custom {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  box-shadow: 0 0 10px #888888;
  background-color: #fff;
}

.ul-custom li {
  margin-left: 20px;
}

.ul-custom li a:hover {
  color: #39c0de;
}

/* input.search-custom:focus {
  border-color: #39c0de;
  box-shadow: none;
}

form button.search-btn-custom {
  color: #39c0de;
  border-color: #39c0de;
}

.search-btn-custom:hover,
.search-btn-custom:active {
  border-color: #39c0de !important;
  background-color: #39c0de !important;
  color: white !important;
} */

.active-link-custom {
  color: #39c0de !important;
}

/* button login and signup */
.btn-login-custom,
.btn-signup-custom {
  border-radius: 0 !important;
  padding: 6px 13px !important;
  font-size: 20px !important;
  margin-right: 100px;
}

.btn-login-custom {
  background-color: white !important;
  border: none !important;
}
.btn-login-custom a {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none;
}

.btn-login-custom:hover {
  color: #39c0de !important;
}

.btn-signup-custom a {
  color: white !important;
  text-decoration: none;
}

/* ------------Navbar Kecil----------- */
.navbar-kecil-custom {
  background-color: #fff !important;
  border-top: 1px solid rgb(206, 205, 205);
  border-bottom: 1px solid rgb(206, 205, 205);
}

.ul-nav-kecil-custom li {
  margin-left: 20px;
}
.ul-nav-kecil-custom li a:hover {
  color: #39c0de;
}

/* -------------Search------------- */
.search-btn-custom {
  color: white !important;
}

.text-search-custom {
  font-family: Century Gothic !important;
}

#search {
  margin-top: 65px;
  margin-bottom: 80px;
}

/* ------------ISI----------------- */
.judul {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  width: 50%;
  margin: auto;
}

.judul h1 {
  font-family: Century Gothic;
  background-color: #39c0de;
  color: white;
  padding: 15px 0px;
}

.isi {
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* --------Recommend Poetry---------- */
.card.card-custom {
  border-radius: 0;
  width: 25%;
  height: 300px;
  cursor: pointer;
  box-shadow: 0 0 10px #888888;
  margin-bottom: 50px;
}

.card.card-custom:hover {
  transform: scale(1.1);
  transition: transform 0.9s;
}

.isi h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
}

.category-line-custom {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #39c0de;
  margin: auto;
  margin-top: 20px;
}

.keteranganCard-custom {
  margin-top: 45px;
}

.keteranganCard-custom h6 {
  margin-top: 20px;
}

.card-body a {
  text-decoration: none;
  color: black;
}

.card-body a:hover {
  color: black;
}

/* --------------- Footer -------------- */
footer {
  margin-top: 150px;
}

div.footer-card-custom {
  border-radius: 0;
}

div.footer-card-custom img {
  margin-top: 30px;
}

div.footer-body-custom {
  padding: 0;
}

div.footer-body-custom h5 {
  margin: 15px 0 20px 0;
}

div.footer-body-custom p {
  margin: 0;
}

.footer-social-media-custom a img {
  width: 35px;
  margin: 30px 0 30px 0;
  cursor: pointer;
}

div.footer-copyright-custom {
  border-top-color: white;
  padding: 20px 0 20px 0;
}

@media only screen and (max-width: 600px) {
  footer {
    margin-top: 100px;
  }

  /* Card Rekomendasi */
  .slide1-custom {
    display: block;
  }

  .card-custom {
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
  }

  /* button login and sign up */
  .btn-login-custom {
    padding-left: 20px !important;
  }

  .judul h1 {
    padding: 10px 40px;
  }
}
