body {
  background-color: #f4f4f4 !important;
  height: 2000px;
}

div.container-custom {
  max-width: 1600px;
}

input {
  border: 1px solid #39c0de !important;
}

/* ------------Navbar----------- */
.navbar-custom {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  box-shadow: 0 0 10px #888888;
  background-color: #fff;
}

.ul-custom li {
  margin-left: 20px;
}

.ul-custom li a:hover {
  color: #39c0de;
}

input.search-custom:focus {
  border-color: #39c0de;
  box-shadow: none;
}

form button.search-btn-custom {
  color: #39c0de;
  border-color: #39c0de;
}

.search-btn-custom:hover,
.search-btn-custom:active {
  border-color: #39c0de !important;
  background-color: #39c0de !important;
  color: white !important;
}

.active-link-custom {
  color: #39c0de !important;
}

/* ------------Navbar Kecil----------- */
.navbar-kecil-custom {
  background-color: #fff !important;
  border-top: 1px solid rgb(206, 205, 205);
  border-bottom: 1px solid rgb(206, 205, 205);
}

.ul-nav-kecil-custom li {
  margin-left: 20px;
}
.ul-nav-kecil-custom li a:hover {
  color: #39c0de;
}

/* ------------ISI----------------- */
.judul {
  margin-top: 50px !important;
  width: 30%;
  margin: auto;
}

.judul h1 {
  font-family: Century Gothic;
  background-color: #39c0de;
  color: white;
  padding: 15px 0px;
}

.isi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* --------Recommend Poetry---------- */
/* #recommend-custom{
    background-image: url(gambar/cardwallpaper.jpg);
} */

.sub-title-custom {
  font-family: Century Gothic;
}

.slide1-custom {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 75px;
}

.card.card-custom {
  border-radius: 0;
  width: 25% !important;
  height: 300px;
  cursor: pointer;
  /* background-image: url(gambar/cardwallpaper.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  box-shadow: 0 0 10px #888888;
}

.card.card-custom:hover {
  transform: scale(1.1);
  transition: transform 0.9s;
}

.slide1-custom h3 {
  text-align: center;
  margin-top: 30px;
}

.category-line-custom {
  content: "";
  width: 50px;
  height: 3px;
  background-color: red;
  margin: auto;
  margin-top: 20px;
}

.keteranganCard-custom {
  margin-top: 45px;
}

.keteranganCard-custom h6 {
  margin-top: 20px;
}
