.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

#box{
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 6px 4px;
}


.form-title {
    text-align: center;
    color: black;

}

input{
    display: block;
    margin-top: 10px;
    margin-left: 20px;
}

button{
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
    margin-left: 57px;
}


